@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --yellow:#fed330;
   --red:#e74c3c;
   --white:#fff;
   --black:#222;
   --light-color:#777;
   --border:.2rem solid var(--black);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear;
}

*::selection{
   background-color: var(--yellow);
   color:var(--black);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 8rem;
   background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(food.jpg);
  width:100%;
  background-position: center;
  background-size: cover;
  height: 109vh;
  }

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--yellow);
   border-radius: 5rem;
}

section{
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
}
.heading{
  background-color: var(--black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;;
  flex-flow: column;
  min-height: 20rem;
}

.heading h3{
  font-size: 4rem;
  color:var(--white);
  text-transform: capitalize;
}

.heading p a{
  font-size: 2rem;
  color:var(--yellow);
}

.heading p span{
  font-size: 2rem;
  color:var(--light-color);
}

.heading p a:hover{
  color:var(--white);
}

.header{
  position: sticky;
  top:0; left:0; right: 0;
  z-index: 1000;
  border-bottom: var(--border);
  background-color: var(--white);
}

.header .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header .flex .logo{
  font-size: 2.5rem;
  color:var(--black);
}

.header .flex .navbar a{
  margin:0 1rem;
  font-size: 2rem;
  color:var(--black);
}

.header .flex .navbar a:hover{
  color:var(--yellow);
}

.header .flex .icons > *{
  font-size: 2.5rem;
  color:var(--black);
  margin-left: 1.5rem;
  cursor: pointer;
}

.header .flex .icons > *:hover{
  color:var(--yellow);
}
@keyframes fadeIn {
  0%{
     transform: translateY(1rem);
  }
}

.header .flex .profile{
  width: 30rem;
  position: absolute;
  top:120%; right: 2rem;
  background-color: var(--white);
  border:var(--border);
  padding:1.5rem;
  text-align: center;
  display: none;
  animation: fadeIn .2s linear;
}

.header .flex .profile.active{
  display: block;
}

.header .flex .profile .name{
  font-size: 1.7rem;
  margin-bottom: .5rem;
}

.header .flex .profile .account{
  font-size: 1.7rem;
  color:var(--light-color);
  margin-top: 1.5rem;
}

.header .flex .profile .account a{
  color:var(--black);
  text-decoration: underline;
}

.header .flex .profile .account a:hover{
  color:var(--yellow);
}


.content{
  width:1200px;
  height:40px;
  margin-top:100px;
  color:#f9d10c;
  padding-bottom: 25px;
  text-align: center;
}
.content h1{
  font-size: 45px;
  font-family: sans-serif;
  padding-left: 20px;
  bottom: 30px;
  letter-spacing:2px;
  margin-top: 40px;
}
.content h6{
text-align: center;
color:#ff7200;
margin: center;
padding-bottom: 100px;
font-size: 100px;

}
.cards-list {
  z-index: 0;
  width: 90%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 150px;
  text-align: center;
}
.card {
  margin: 30px auto;
  width: 250px;
  height: 150px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
}
.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}
.card .card_image img {
 width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/*------category css*/

.state_category{
  display: inline-block;
  text-align: center;
  margin-right: 30px;   
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
}
.state_category img{
height: 150px;
width: 220px;
border: 2px solid silver;
opacity: 0.8;
margin-left: 70px;
margin-right: 10px;
margin-top:40px ;
}
.state_category img:hover{
  height: 180px;
  width: 250px;
  border: 2px solid silver;
 transform:(2,2) ;
 transition: all 0.4s linear;
}
.content h2{
  text-align: center;
  font-size: 30px;
  background: #ff7200;
}

.btn {
  background: #9f9b9b;
  
}